# Простые типа данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
type(5.)

float

In [4]:
type(5)

int

In [5]:
my_string = 'Hello World'
type(my_string)

str

In [6]:
my_bool = True
type(my_bool)

bool

In [7]:
salary = 1000
print('Ваша годовая заработная плата', salary, 'условных единиц')

Ваша годовая заработная плата 1000 условных единиц

In [9]:
print('Ваша годовая заработная плата '+str(salary)+' условных единиц')

Ваша годовая заработная плата 1000 условных единиц

In [10]:
'1000' + '10'

'100010'

In [11]:
int('1000')

1000

In [13]:
print(1 + False)

1

# Строки

In [14]:
1+2

3

In [15]:
'1'+'2'# конкатинация

'12'

In [16]:
my_string = 'Hello, world'

In [17]:
my_string.upper()

'HELLO, WORLD'

In [18]:
my_string.lower()

'hello, world'

In [19]:
my_string.replace('Hello','Goobye')

'Goobye, world'

In [20]:
len(my_string)

12

# Индексация и срезы

In [21]:
my_string = 'Hello World'

In [22]:
my_string[2]

'l'

In [23]:
my_string[-4]

'o'

In [24]:
my_string[-1]

'd'

In [28]:
my_string[0:5]

'Hello'

In [29]:
my_string[0:8:2]

'HloW'

In [30]:
my_string[6:]

'World'

In [31]:
my_string[:5]

'Hello'

## Как выделить номер из даты следующего формата?

In [32]:
date = '2019-08-27T23:59:00.932'

In [33]:
date[11:13]

'23'

    # Проверить на вхождение элемента в объек

In [34]:
my_string = 'Hello World'
target_string = 'World'
if target_string in my_string:
    print('find')

find

# f-строки

In [38]:
name = 'rUslaN'
lang = 'python'

t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)

Hello, Ruslan, i know python a bit

In [40]:
print('Hello {}, i know {} a bit'.format(name.capitalize(), lang) )

Hello Ruslan, i know python a bit

# Списки

In [13]:
month_list = ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

income_list = [13000,14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

income_by_moths = [['Jan',13000],['Feb', 14000], ['Mar', 14300], ['Apr',15000], ['May', 13800],['Jun', 13000], ['Aug', 15200], ['Sep',15300]]

In [3]:
print(type(month_list))
print(type(income_list))
print(type(income_by_moths))

<class 'list'>
<class 'list'>
<class 'list'>

In [4]:
# индексирование элементов списка
print(month_list[0])
print(month_list[-1])
print(income_by_moths[-4])

Jan
Dec
['Feb', 14000]

In [11]:
# срезы
print(income_by_moths[0:2])
print('----------------')
print(income_by_moths[-8:-6])
print('----------------')
print(income_by_moths[2:])
print('-----------------')
print(income_by_moths[0:3])

[['Jan', 13000], ['Feb', 14000]]
----------------
[['Jan', 13000], ['Feb', 14000]]
----------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Aug', 15200], ['Sep', 15300]]
-----------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [16]:
income_by_moths[0][0]

'Jan'

In [17]:
income_by_moths[0][1]

13000

In [18]:
income_by_moths[0][1] = 15000
print(income_by_moths)

[['Jan', 15000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Aug', 15200], ['Sep', 15300]]

In [20]:
income_by_moths[0:2] = [['Jan', 13200],['Feb',13900]]
print(income_by_moths)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Aug', 15200], ['Sep', 15300]]

In [35]:
# конкатинация списков
income_by_moths_2 = [['Nov', 15400],['Dec', 17000]]
income_by_moths = income_by_moths + income_by_moths_2
print(income_by_moths)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

# Распаковка списка

In [ ]:
data = ['первый','второй','третий']
first = data[0]

In [26]:
first, second, third = ['первый','второй','третий']
first

'первый'

In [27]:
#когда число элементов неизвестно
first, *_ = ['первый','второй','третий']
first

'первый'

In [28]:
_

['второй', 'третий']

In [30]:
first, *other, last = ['первый','второй','третий','четвертый']
other

['второй', 'третий']

In [31]:
last

'четвертый'

# Операции со списками

In [33]:
# Удаляем элемент по номеру
del(income_by_moths[-1])

In [34]:
income_by_moths

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Aug', 15200],
 ['Sep', 15300]]

In [36]:
# Добавляем в конец списка элемент
income_by_moths.append(['Dec', 14000])

In [37]:
income_by_moths

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Aug', 15200],
 ['Sep', 15300],
 ['Nov', 15400],
 ['Dec', 17000],
 ['Dec', 14000]]

In [39]:
# Добавляем элемент в позицию 2
income_list.insert(2,11111)

In [40]:
income_list

[13000, 14000, 11111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [42]:
# Считаем количество вхождений
income_list.count(13000)

2

In [43]:
# узнаем индекс элемента в списке (только первое вхождение!)
income_list.index(13000,1)

6

In [44]:
# разворачиваем список
month_list.reverse()
month_list

['Dec',
 'Nov',
 'Oct',
 'Sep',
 'Aug',
 'Jul',
 'Jun',
 'May',
 'Apr',
 'Mar',
 'Feb',
 'Jan']

In [45]:
# узнаем длину списка
len(income_list)

10

In [46]:
# максимальный элемент списка
max(income_list)

15300

In [47]:
# минимальный элемент
min(income_list)

11111

In [48]:
#сортировка по названию
sorted(income_list)

[11111, 13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300]

In [49]:
#изменить порядок сортировки
sorted(income_list, reverse = True)

[15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000, 11111]

In [50]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr',
 'Aug',
 'Dec',
 'Feb',
 'Jan',
 'Jul',
 'Jun',
 'Mar',
 'May',
 'Nov',
 'Oct',
 'Sep']

# Изменение списков

In [51]:
# не делается копии, создается ссылка
a = [1,2,3]
b = a

In [52]:
b

[1, 2, 3]

In [54]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4, 4]'

In [55]:
id(a), id(b)

(140393055157440, 140393055157440)

In [56]:
import copy
a = [1,2,3]
b = copy.copy(a)

In [57]:
id(a), id(b)

(140393031721472, 140393054681664)

In [58]:
b.append(7)

In [59]:
b

[1, 2, 3, 7]

In [60]:
a

[1, 2, 3]

# Списки и строки

In [61]:
queries_string = "Смотреть сериал онлайн, новости, спорт, афиша, кино, курс доллара"

In [62]:
queries_list = queries_string.split(',')

In [63]:
queries_list

['Смотреть сериал онлайн',
 ' новости',
 ' спорт',
 ' афиша',
 ' кино',
 ' курс доллара']

In [64]:
queries_list[0].split(' ')

['Смотреть', 'сериал', 'онлайн']

In [65]:
len(queries_list[0].split(' '))

3

In [68]:
# Преобразование вписка в строку
print('===='.join(['Столбец 1','Столбец 2','Столбец 3']))

Столбец 1====Столбец 2====Столбец 3

In [70]:
# Проверка вхождения элемента в список:
'Москва'  in ['Ленинград','Одесса','Севастополь','Москва']

True

# Кортежи

In [72]:
salary_tuple = (1000,1200,1300,900,800)
type(list(salary_tuple))

list

In [73]:
salary_tuple[0] = 45 # обращение к переменной невозможно

TypeError: 'tuple' object does not support item assignment

In [74]:
# картеж из одного элемента задается
t = ('one',)
type(t)

tuple

In [77]:
# функции zip склеивает списки в один
salaries = [1000,1200,1300,900,800,1000]
names = ['Robert','Jane','Liza','Richard','John']
salaries_by_names = zip(names, salaries)
print(salaries_by_names)

<zip object at 0x7fafce792240>

In [78]:
list(salaries_by_names)

[('Robert', 1000),
 ('Jane', 1200),
 ('Liza', 1300),
 ('Richard', 900),
 ('John', 800)]

# Циклы

In [84]:
x = 5
while x != 0:
    x -= 1
    print(x)
    #break
print('я прекратил работу')

4
3
2
1
0
я прекратил работу

In [83]:
x = 7 
while x != 0:
    if x % 2 == 0:
        print(x,' - четное число')
    else:
        print(x, ' - нечестное число')
    x = x - 1

7  - нечестное число
6  - четное число
5  - нечестное число
4  - четное число
3  - нечестное число
2  - четное число
1  - нечестное число

# Цикл for

In [87]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name: # по элементно в строке берем букву и выводим на экран
    print(letter)
    break

O

In [88]:
company_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

In [93]:
for company in company_capitalization:
    print(company[0],'capitalization is ', company[1])
    print(company)
#     break
print('end of iteration')

Orange capitalization is  1.3
['Orange', 1.3]
Maxisoft capitalization is  1.5
['Maxisoft', 1.5]
Headbook capitalization is  0.8
['Headbook', 0.8]
Nicola capitalization is  2.2
['Nicola', 2.2]
end of iteration

In [96]:
phrase = '640Kб должно хватить для любых задачю Билл Гейтс(по легенде)'

In [98]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end = '')

640Kб

In [100]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
K
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
ю
Б
и
л
л
Г
е
й
т
с
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [101]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
K
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
ю

Б
и
л
л

Г
е
й
т
с
(
п
о

л
е
г
е
н
д
е
)
finish loop